@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    background-color: var(--background-color);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 350px;
    background-color: #fff;
    border-radius: 15px;
    font-weight: 700;
}

.informacoes-do-perfil{
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

img{
    border-radius: 100%;
    max-width: 96px;
}

.cor{
    color: var(--text-color);
    font-weight: 100;
}

hr{
    width: 100%;
    margin-bottom: 30px;
}

.card .numeros-do-perfil{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}
